<%- include ('head.ejs') -%>

<body>
    <!-- Swiper -->
    <div class="containerr">
        <!-- Contenedor para limitar la vista inicial a 3 tarjetas -->

  
        <div class="swiper-container mySwiper ">
         
            <div class="swiper-wrapper">
                
              <div class="swiper-slide alaa">
                  <a href="/shop/producto/652eba8a4b093245f128e618" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/Iphone3-removebg-preview.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Iphone3</h4>

                       
                        
                        <h3 class="precio">$99999</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Celular de ultima tecnologia</p>
                        
                        <%- include ('starProducto.ejs') -%>
                        </div>
                        
                        
                        
                        </div>
                        
                        </div>
                      </a>
                </div>

              <div class="swiper-slide">
                  <a href="/shop/producto/652eba894b093245f128e60b" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/spiderman-removebg-preview.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">El asombroso Spiderman</h4>
                    
                        
                        <h3 class="precio">$1190</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Comic de Spiderman con los seis siniestros.</p>
                        <%- include ('starProducto.ejs') -%>
                        
                        </div>
                        
                      
                        
                        </div>
                        
                        </div>
                      </a>
            </div>
            
          <div class="swiper-slide">
                  <a href="/shop/producto/652eba874b093245f128e5d6" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="\img\cards\adidasAzul.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Bolso Adidas</h4>
                      
                        
                        <h3 class="precio">$9000</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Bolso mediano para utilidades y demás</p>
                        
                        <%- include ('starProducto.ejs') -%>
                        
                        </div>
                        
                       
                        
                        </div>
                        
                        </div>
                      </a>
            </div>


          <div class="swiper-slide">
                  <a href="/shop/producto/652eba8c4b093245f128e647" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="\img\cards\jean-n.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Jean</h4>

                      
                        
                        <h3 class="precio">$3399</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Jean suelto estilo desgastado</p>
                        
                        <%- include ('starProducto.ejs') -%>
                        
                        </div>
                        
                        <button class="AddCart invisible"> Añadir al Carrito</button>
                        
                        </div>
                        
                        </div>
                      </a>
            </div>


          <div class="swiper-slide">
                  <a href="/shop/producto/652e857dfcd0f93b9ec482f5" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img\cards\zapaColorida2.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Zapatillas moda</h4>

                       
                        
                        <h3 class="precio">$12000</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Zapatillas deportivas modernas</p>
                        
                        <%- include ('starProducto.ejs') -%>
                        </div>
                        
                        
                        
                        </div>
                        
                        </div>
                      </a>
            </div>
               
          <div class="swiper-slide mesasa">
                  <a href="/shop/producto/652e86daccdd1ff7117d6de5" class="enlace-sacar">
                    <div class="todoCard">


                        <!-- fotos de la card -->
                        <div class="CardFotos">
                        
                         
                          <img src="/img/cards/mesa.png" alt="" class="imagenCard">
                          
                        
                        
                        <div class="corazonDiv">
                           <img src="/img/corazon.svg" alt="" class="corazon">
                        </div>
                        </div>
                        
                        
                        <!-- textos -->
                        <div class="texto">
                        
                         
                        <div class="namePrecio mt-2">
                        
                        <h4 class="name">Mesa</h4>

                       
                        
                        <h3 class="precio">$8299</h3>
                        
                        </div>
                        
                        
                        
                        <p class="descrip">Mesa en forma de ovalo.</p>
                        
                        <%- include ('starProducto.ejs') -%>
                        
                        </div>
                        
                  
                        
                        </div>
                        
                        </div>
                      </a>
            </div>

            <div class="swiper-slide" id="hidden-card">

              <div class="todoCard">


                  <!-- fotos de la card -->
                  <div class="CardFotos">
                  
                   
                    <img src="img/parlantin.png" alt="" class="imagenCard">
                    
                  
                  
                  <div class="corazonDiv">
                     <img src="img/corazon.svg" alt="" class="corazon">
                  </div>
                  </div>
                  
                  
                  <!-- textos -->
                  <div class="texto">
                  
                   
                  <div class="namePrecio mt-2">
                  
                  <h4 class="name">HomePod mini</h4>
                  
                  <h3 class="precio">$239.00</h3>
                  
                  </div>
                  
                  
                  
                  <p class="descrip">Mesa con purificador de aire, chapa teñida / negra</p>
                  
                  <%- include ('starProducto.ejs') -%>
                  
                  </div>
                  
                  <button class="AddCart"> Añadir al Carrito</button>
                  
                  </div>
                  
                  </div>

          </div>

          <div class="swiper-slide" id="hidden-card2">

            <div class="todoCard">


                <!-- fotos de la card -->
                <div class="CardFotos">
                
                 
                  <img src="img/parlantin.png" alt="" class="imagenCard">
                  
                
                
                <div class="corazonDiv">
                   <img src="img/corazon.svg" alt="" class="corazon">
                </div>
                </div>
                
                
                <!-- textos -->
                <div class="texto">
                
                 
                <div class="namePrecio mt-2">
                
                <h4 class="name">HomePod mini</h4>
                
                <h3 class="precio">$239.00</h3>
                
                </div>
                
                
                
                <p class="descrip">Mesa con purificador de aire, chapa teñida / negra</p>
                
                <div class="stars">
                  <div>
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                <img src="img/star.svg" alt="" class="estrellasIMG">
                </div>
                
                <div>
                  <p class="numeroStar">(121)</p>
                </div>
                
                </div>
                
                <button class="AddCart"> Añadir al Carrito</button>
                
                </div>
                
                </div>

        </div>




                </div>
       
            </div>
         
         

        </div>
      
      </div>
   


    <!-- Swiper JS -->
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/joaki.js"></script>
</body>


  