<%- include ('head.ejs') -%>

<body>
    <!-- Swiper -->
    <div class="containerr">
      

        <div class="swiper-container mySwiper ">

            <div class="swiper-wrapper">

              

                <div class="swiper-slide alaa">
                    <a href="/shop/producto/652eba8a4b093245f128e61e" class="enlace-sacar">
                        <div class="todoCard">

                            <!-- fotos de la card -->
                            <div class="CardFotos">

                                <img src="/img/cards/camarafts copy.png" alt="" class="imagenCard">

                                <div class="corazonDiv">
                                    <img src="/img/corazon.svg" alt="" class="corazon">
                                </div>
                            </div>

                            <!-- textos -->
                            <div class="texto">

                                <div class="namePrecio mt-2">

                                    <h4 class="name">Camara de fotos</h4>

                                    <h3 class="precio">$56799</h3>
                                </div>

                                <p class="descrip">Camara profesional T100 18-55</p>
                                <%- include ('starProducto.ejs') -%>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="/shop/producto/652eba874b093245f128e5de" class="enlace-sacar">
                        <div class="todoCard">

                            <!-- fotos de la card -->
                            <div class="CardFotos">

                                <img src="/img/cards/escolarRosa.png" alt="" class="imagenCard">

                                <div class="corazonDiv">
                                    <img src="/img/corazon.svg" alt="" class="corazon">
                                </div>
                            </div>

                            <!-- textos -->
                            <div class="texto">

                                <div class="namePrecio mt-2">

                                    <h4 class="name">Mochila Escolar</h4>

                                    <h3 class="precio">$7000</h3>
                                </div>

                                <p class="descrip">mochila escolar minimalista</p>
                                <%- include ('starProducto.ejs') -%>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="/shop/producto/652e86daccdd1ff7117d6de1" class="enlace-sacar">
                        <div class="todoCard">

                            <!-- fotos de la card -->
                            <div class="CardFotos">

                                <img src="/img/cards/escritorio-b.png" alt="" class="imagenCard">

                                <div class="corazonDiv">
                                    <img src="/img/corazon.svg" alt="" class="corazon">
                                </div>
                            </div>

                            <!-- textos -->
                            <div class="texto">

                                <div class="namePrecio mt-2">

                                    <h4 class="name">Escritorio</h4>

                                    <h3 class="precio">$12000</h3>
                                </div>

                                <p class="descrip">Escritorio en forma de L. Ideal para esquinas.</p>
                                <%- include ('starProducto.ejs') -%>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="/shop/producto/652eba894b093245f128e608" class="enlace-sacar">
                        <div class="todoCard">

                            <!-- fotos de la card -->
                            <div class="CardFotos">

                                <img src="/img/cards/principito-removebg-preview.png" alt="" class="imagenCard">

                                <div class="corazonDiv">
                                    <img src="/img/corazon.svg" alt="" class="corazon">
                                </div>
                            </div>

                            <!-- textos -->
                            <div class="texto">

                                <div class="namePrecio mt-2">

                                    <h4 class="name">El principito</h4>

                                    <h3 class="precio">$3499</h3>
                                </div>

                                <p class="descrip">Una lujosa edición de El Principito con cantos de color, tapa dura y detalles dorados.</p>
                                <%- include ('starProducto.ejs') -%>
                                <button class="AddCart invisible"> Añadir al Carrito</button>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="/shop/producto/652eba8c4b093245f128e649" class="enlace-sacar">
                        <div class="todoCard">

                            <!-- fotos de la card -->
                            <div class="CardFotos">

                                <img src="/img/cards/malla-r.png" alt="" class="imagenCard">

                                <div class="corazonDiv">
                                    <img src="/img/corazon.svg" alt="" class="corazon">
                                </div>
                            </div>

                            <!-- textos -->
                            <div class="texto">

                                <div class="namePrecio mt-2">

                                    <h4 class="name">Short de baño </h4>

                                    <h3 class="precio">$1800</h3>
                                </div>

                                <p class="descrip">Short de baño de tejido elástico y secado rápido, con bolsillos laterales</p>
                                <%- include ('starProducto.ejs') -%>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide mesasa">
                    <a href="/shop/producto/652e857dfcd0f93b9ec482f0" class="enlace-sacar">
                        <div class="todoCard">

                            <!-- fotos de la card -->
                            <div class="CardFotos">

                                <img src="/img/cards/reebok.png" alt="" class="imagenCard">

                                <div class="corazonDiv">
                                    <img src="/img/corazon.svg" alt="" class="corazon">
                                </div>
                            </div>

                            <!-- textos -->
                            <div class="texto">

                                <div class="namePrecio mt-2">

                                    <h4 class="name">Zapatillas</h4>

                                    <h3 class="precio">$11900</h3>
                                </div>

                                <p class="descrip">Zapatiilas deportivas para mujer.</p>
                                <%- include ('starProducto.ejs') -%>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="swiper-slide" id="hidden-card">

                  <div class="todoCard">
    
    
                      <!-- fotos de la card -->
                      <div class="CardFotos">
                      
                       
                        <img src="img/parlantin.png" alt="" class="imagenCard">
                        
                      
                      
                      <div class="corazonDiv">
                         <img src="img/corazon.svg" alt="" class="corazon">
                      </div>
                      </div>
                      
                      
                      <!-- textos -->
                      <div class="texto">
                      
                       
                      <div class="namePrecio mt-2">
                      
                      <h4 class="name">HomePod mini</h4>
                      
                      <h3 class="precio">$239.00</h3>
                      
                      </div>
                      
                      
                      
                      <p class="descrip">Mesa con purificador de aire, chapa teñida / negra</p>
                      
                      <%- include ('starProducto.ejs') -%>
                      
    
                      
                    
                      
                      </div>
                      
                      </div>
    
              </div>
    
              <div class="swiper-slide" id="hidden-card2">
    
                <div class="todoCard">
    
    
                    <!-- fotos de la card -->
                    <div class="CardFotos">
                    
                     
                      <img src="img/parlantin.png" alt="" class="imagenCard">
                      
                    
                    
                    <div class="corazonDiv">
                       <img src="img/corazon.svg" alt="" class="corazon">
                    </div>
                    </div>
                    
                    
                    <!-- textos -->
                    <div class="texto">
                    
                     
                    <div class="namePrecio mt-2">
                    
                    <h4 class="name">HomePod mini</h4>
                    
                    <h3 class="precio">$239.00</h3>
                    
                    </div>
                    
                    
                    
                    <p class="descrip">Mesa con purificador de aire, chapa teñida / negra</p>
                    
                    <div class="stars">
                      <div>
                    <img src="img/star.svg" alt="" class="estrellasIMG">
                    <img src="img/star.svg" alt="" class="estrellasIMG">
                    <img src="img/star.svg" alt="" class="estrellasIMG">
                    <img src="img/star.svg" alt="" class="estrellasIMG">
                    <img src="img/star.svg" alt="" class="estrellasIMG">
                    </div>
                    
                    <div>
                      <p class="numeroStar">(121)</p>
                    </div>
                    
                    </div>
                    
                    
                    
                    </div>
                    
                    </div>
    
            </div>
    
    
    
    
                    </div>
           
                </div>
             
             
    
            </div>
          
          </div>
       
    
    
        <!-- Swiper JS -->
        
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="/joaki.js"></script>
    </body>
    
    
      