<% products.forEach(product => { %>
  <a href="/shop/producto/<%= product.id %>" class="enlace-sacar">
    <div class="C-todoCard">
      <div class="C-CardFotos">
        <img src="<%= product.imagen %>" alt="" class="C-imagenCard">
        <div class="C-corazonDiv">
          <img src="/img/corazon.svg" alt="" class="C-corazon">
        </div>
      </div>
      <div class="C-texto">
        <div class="C-namePrecio">
          <h4 class="C-name"><%= product.nombre %></h4>
        </a>
        
          <h3 class="C-precio"> $<%= product.precio %></h3>
        </div>
        
        <div class="C-stars">
          <div>
            <img src="/img/star.svg" alt="" class="C-estrellasIMG">
            <img src="/img/star.svg" alt="" class="C-estrellasIMG">
            <img src="/img/star.svg" alt="" class="C-estrellasIMG">
            <img src="/img/star.svg" alt="" class="C-estrellasIMG">
            <img src="/img/star.svg" alt="" class="C-estrellasIMG">
          </div>
          <div>
            <p class="C-numeroStar">(121)</p>
          </div>
        </div>
        <form action="/carrito/agregar" method="post">
          <input type="hidden" name="productId" value="<%= product._id %>">
          <button class="C-AddCart" onclick="agregarAlCarrito('<%= product._id %>')">Añadir al carrito</button>
        </form>
      </div>
    </div>
 
<% }); %>
