<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>

<section class="carrito-all">
  <div id="productosEnCarrito" style="display: none;">
    <% if (productosEnCarrito.length > 0) { %>
      <%= JSON.stringify(productosEnCarrito) %>
    <% } %>
  </div>
  <div class="productos-carrito">
    <div class="d-flex justify-content-between">
      <h3>Revisa tus productos</h3>        
      <a href="" class="p-1 mt-1 enlace-sacar hoverEnlace" onclick="eliminarTodo()">Eliminar todos los productos</a>
    </div>
    
    <% productosEnCarrito.forEach(item => { %>
      <div class="prod-carrito">
        <div class="imagen-nombre">
        <div class="img-div-carrito">
          <% if ( item.producto && item.producto.imagen) { %>
            <img src="<%= item.producto.imagen %>" alt="" class="img-producto-carrito">
          <% } else { %>
            <p>Imagen no disponible</p>
          <% } %>
        </div>
        <div class="cart-nombre">
          <% if (item.producto) { %>
            <h4><%= item.producto.nombre %></h4>
            <p>Color: <%= item.producto.color %></p>
          <% } else { %>
            <p>Producto no disponible</p>
          <% } %>
        </div>

       
      </div>

        <div class="cart-pyc">
          <% if (item.producto) { %>
            <p class="cart-precio">Precio: $<%= item.producto.precio * item.cantidad %></p>
          
             
              <p id="cantidad-<%= item.producto._id %>">Cantidad: <%= item.cantidad %></p>
             
             
          <% } else { %>
            <p>Precio y cantidad no disponibles</p>
          <% } %>
          <form action="/carrito/eliminar?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="productId" value="<%= item.producto._id %>">
            <button class="C-AddCart" onclick="elimnarCarrito('<%= item.producto._id %>')"><i class="bi bi-trash3"></i>Eliminar producto</button>
          </form>
        </div>

      

      </div>
    <% }); %>
  </div>


<div class="completar-datos">

 <h3>Resumen del pedido</h3>

 <div class="linea-cart"></div>

 <div class="codigo-cart"> 
    <form> <label> </label> <input type="text" class="texto-codigo"  placeholder= "Introduce el código del cupón">   </form>
    <button class="lupita-codigo">Aplicar cupón</i></button>
</div>

<div class="linea-cart"></div>


 <!-- Detalles de pago  -->

<h4 class="detalles-pago">Detalles del pago</h4>

<div class="linea-cart"></div>

 <div class="check-cart">

 
  
  <div class="check-cart">

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onclick="mostrarOpcion('opcion2')" >
      <label class="form-check-label" for="flexRadioDefault2">
        Tarjeta de Shopcart
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" onclick="mostrarOpcion('opcion3')">
      <label class="form-check-label" for="flexRadioDefault3">
        Paypal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" onclick="mostrarOpcion('opcion4')">
      <label class="form-check-label" for="flexRadioDefault4">
        Tarjeta de débito o crédito
      </label>
    </div>
  </div>

  <div class="tarjetas-check">
    <div class="opcion-check" id="opcion1">
     
    </div>
    <div class="opcion-check" id="opcion2">
      <img src="/img/tarjetas/tarjeta-shopcart.png"  class=" bord" alt="">
    </div>
    <div class="opcion-check" id="opcion3">
      <img src="/img/tarjetas/6.png"  class="p-2 bord" alt="">
    </div>
    <div class="opcion-check" id="opcion4">
      
      <img src="/img/tarjetas/visa.jpg" class="p-2 bord" alt="">
      <img src="/img/tarjetas/master.png" class="p-2 bord" alt="">
    </div>
  </div>






  <!-- FORMULARIO -->

  <div class="desaparecee">

    <form onsubmit="return validarFormulario()">
      <span id="correoError" style="color: red;"></span>
      <p class="cart-form-p">Email*</p>
      <input id="correo" class="cart-form form-control" type="email" placeholder="Escribe aquí...">
      
      <span id="nombreError" style="color: red;"></span>
      <p class="cart-form-p">Nombre del titular de la tarjeta*</p>
      <input id="nombre" class="cart-form form-control" type="text" placeholder="Escribe aquí...">
      
  
      <span id="numeroTarjetaError" style="color: red;"></span>
      <p class="cart-form-p">Número de la tarjeta*</p>
      <div class="input-with-icon">
        <i class="bi bi-credit-card-2-front card-imagen-cart"></i>
        <input id="numeroTarjeta" class="cart-form-card form-control" type="text" placeholder="0000 ****** 1245">
      </div>
      
  
      <div class="dos-forms-cart">
        <div>
          <span id="vencimientoError" style="color: red;"></span>
          <p class="cart-form-p">Vencimiento</p>
          <input id="vencimiento" type="text" class="cart-form-dos form-control" placeholder="MM/YY">
         
        </div>
        <div>
          <span id="cvcError" style="color: red;"></span>
          <p class="cart-form-p">CVC</p>
          <input id="cvc" type="text"  class="cart-form-dos form-control" placeholder="000" maxlength="3">
          
        </div>
      </div>
      
  </div>
 <!-- FORMULARIO -->

    <div class="sub-total">
      <p>Sub Total</p>
      <p id="precioTotal">$<%= precioTotal %></p>
    </div>

    <div class="linea-cart"></div>

    <div class="total-carrito">
      <p>Total</p>
      <p id="precioTotal">$<%= precioTotal %></p>
    </div>

      <!-- EL BOTON PARA EL EVENTO -->
  
      <button type="button" class="btn-pagar-cart" id="mostrarModal">Pagar $<span id="precioTotalCarrito"><%= precioTotal %></span></button>

</form>
<!-- End FORMULARIO -->

</div>

<!-- Modal -->
<div class="contenedor" onclick="return false;">
  <div class="modal" id="miModal">
    <!-- Nuevo contenedor interno para centrar el contenido del modal -->
    <div class="centrado">
      <div class="centrado-interno">
        <!-- Contenido del modal -->
        <div class="imagen-container">
          <img src="img/fondo-pagar-editado.jpg" alt>
        </div>
        <div class="texto-de-verificacion">
          <h1>¡Compra realizada con éxito!</h1>
          <p>ID de tu Compra: <%= user.id %></p>
          <button onclick="redirigir()" >Seguir Comprando</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function formatTarjeta() {
    let numeroTarjetaInput = document.getElementById('numeroTarjeta');
    let numeroTarjeta = numeroTarjetaInput.value.replace(/\s/g, '');

    // Aplicar el formato cada 4 dígitos
    numeroTarjeta = numeroTarjeta.replace(/(\d{4})(?=\d)/g, '$1 ');

    // Actualizar el valor del input
    numeroTarjetaInput.value = numeroTarjeta;
  }



  function validarFormulario() {
    // Obtener los valores de los campos
    let correo = document.getElementById('correo').value;
    let nombre = document.getElementById('nombre').value;
    let numeroTarjeta = document.getElementById('numeroTarjeta').value;
    let vencimiento = document.getElementById('vencimiento').value;
    let cvc = document.getElementById('cvc').value;

    // Inicializar la variable isValid
    let isValid = true;

    // Validar el campo de correo electrónico
    let correoError = document.getElementById('correoError');
    if (correo === "") {
      correoError.innerHTML = "Este campo es obligatorio.";
      isValid = false;
    } else if (!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(correo) || !correo.endsWith(".com")) {
      correoError.innerHTML = "Ingrese un correo electrónico válido";
      isValid = false;
    } else {
      correoError.innerHTML = "";
    }

    // Validar el nombre del titular de la tarjeta
    let nombreError = document.getElementById('nombreError');
    if (nombre === "") {
      nombreError.innerHTML = "Este campo es obligatorio.";
      isValid = false;
    } else if (nombre.length > 20) {
      nombreError.innerHTML = "El nombre debe tener un máximo de 20 caracteres.";
      isValid = false;
    } else if (!/^[a-zA-Z\s]+$/.test(nombre)) {
      nombreError.innerHTML = "Solo se permiten letras y espacios en el nombre.";
      isValid = false;
    } else {
      nombreError.innerHTML = "";
    }

   // Validar el numero de la tarjeta
   if (!/^\d{16}$/.test(numeroTarjeta)) {
        numeroTarjetaError.innerHTML = "El número de tarjeta debe tener 16 dígitos.";
        isValid = false;
    } else {
        numeroTarjetaError.innerHTML = "";
    }

    // Validar el vencimiento
    let vencimientoError = document.getElementById('vencimientoError');
    if (!/^[0-9]{2}\/[0-9]{2}$/.test(vencimiento)) {
      vencimientoError.innerHTML = "(MM/AA).";
      isValid = false;
    } else {
      vencimientoError.innerHTML = "";
    }

    // Validar el CVC
    let cvcError = document.getElementById('cvcError');
    if (!/^[0-9]{3}$/.test(cvc)) {
      cvcError.innerHTML = "(3 dígitos).";
      isValid = false;
    } else {
      cvcError.innerHTML = "";
    }

  
  
    if (isValid) {
      mostrarModal();
      
    }

    // Devolver el resultado de la validación
    return isValid;
  }



  document.getElementById('mostrarModal').addEventListener('click', function() {
    validarFormulario();
  });

  function mostrarModal() {
  // verificar si hay productos en el carrito
  let productosEnCarritoElement = document.getElementById('productosEnCarrito');
  
  if (!productosEnCarritoElement || productosEnCarritoElement.innerText.trim() === "") {
    alert('No hay productos en el carrito. Agrega productos antes de pagar.');
    return;
  }

  // mostrar el modal solo si hay productos en el carrito
  document.getElementById('miModal').style.display = 'block';
}

document.getElementById('mostrarModal').addEventListener('click', function() {
  validarFormulario();
});


  // Función para redirigir a otra página
  function redirigir() {
    // Puedes cambiar la URL a la que deseas redirigir
    window.location.href = '/shop';
    eliminarTodo();
  }
</script>


</section>

<%- include ('partials/footer.ejs') -%>