<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>

<section class="carrito-all">

  <div class="productos-carrito">
    <h3>Revisa tus productos</h3>
    
    <% productosEnCarrito.forEach(item => { %>
      <div class="prod-carrito">
        <div>
          <% if ( item.producto && item.producto.imagen) { %>
            <img src="<%= item.producto.imagen %>" alt="" class="img-producto-carrito">
          <% } else { %>
            <p>Imagen no disponible</p>
          <% } %>
        </div>
        <div class="cart-nombre">
          <% if (item.producto) { %>
            <h4><%= item.producto.nombre %></h4>
            <p>Color: <%= item.producto.color %></p>
          <% } else { %>
            <p>Producto no disponible</p>
          <% } %>
        </div>
        <div class="cart-pyc">
          <% if (item.producto) { %>
            <p class="cart-precio">$<%= item.producto.precio %></p>
            <p class="cart-cantidad">Cantidad: <%= item.cantidad %></p>
          <% } else { %>
            <p>Precio y cantidad no disponibles</p>
          <% } %>
          <form id="eliminarForm" action="/carrito/eliminar" method="delete">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="productId" value="<%= item.producto._id %>">
            <button type="submit"><i class="bi bi-trash3"></i>Eliminar producto</button>
          </form>
        </div>
      </div>
    <% }); %>
  </div>


<div class="completar-datos">

 <h3>Resumen del pedido</h3>

 <div class="linea-cart"></div>

 <div class="codigo-cart"> 
    <form> <label> </label> <input type="text" class="texto-codigo"  placeholder= "Introduce el código del cupón">   </form>
    <button class="lupita-codigo">Aplicar cupón</i></button>
</div>

<div class="linea-cart"></div>

<h4 class="detalles-pago">Detalles del pago</h4>

<div class="linea-cart"></div>

 <div class="check-cart">


  
<div class=" form-check  ">
    <input class="form-check-input  " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label " for="flexRadioDefault1">
        Pago al recibir el producto 
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
      Tarjeta de Shopcart
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
    <label class="form-check-label" for="flexRadioDefault3">
      Paypal
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
    <label class="form-check-label" for="flexRadioDefault4">
      Tarjeta de debito o credito
    </label>
  </div>

 <!-- tarjetas segun el check --> 
  <div class="tarjetas-check">
<img src="Img/tarjetas/4Amazon.png" class="p-2 bord" alt="">
  <img src="Img/tarjetas/2visa.png" class="p-2 bord" alt="">
 <img src="Img/tarjetas/3.png" class="p-2 bord" alt="">
</div>

</div>

 <p class="cart-form-p">Email*</p>
 <input class="cart-form form-control" type="email" placeholder="Escribe aquí...">

 <p class="cart-form-p">Nombre del titular de la tarjeta*</p>
 <input class="cart-form form-control"  type="text" placeholder="Escribe aquí...">

 <p class="cart-form-p">Número de la tarjeta*</p>
<div class="input-with-icon">
  <i class="bi bi-credit-card-2-front card-imagen-cart"></i>
  <input class="cart-form-card form-control" type="text" oninput="this.value = this.value.replace(/[^0-9]/, '')" placeholder="0000******1245">
</div>


 <div class="dos-forms-cart">
    <div>
        <p class="cart-form-p"> Vencimiento</p>
        <input  type="text" class="cart-form-dos form-control" placeholder="MM/YY" >
    </div>
    <div>
        <p class="cart-form-p">CVC</p>
       <input type="text" oninput="this.value = this.value.replace(/[^0-9]/, '')" class="cart-form-dos form-control" placeholder="000" maxlength="3"> 
    </div>
    
 </div>

 <div class="sub-total">
    <p>Sub Total</p>
    <p>$3900</p>
 </div>

 <div class="linea-cart"></div>

 <div class="total-carrito">
    <p>Total</p>
    <p>$3900</p>
 </div>
         
 <button class="btn-pagar-cart">Pagar $3900</button>





</div>

</section>
