<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>    
<!-- arranca todo -->

<!-- los slides -->

<%- include ('partials/slide.ejs') -%>

<!-- FILTROS -->

<%- include ('partials/filtros.ejs') -%>


               <!-- CARDS -->
               <h2 class="margin-all mt-5">Productos para ti</h2>

    <section class="B-cards" id="cards">

    
    <!-- toda la card -->
    <%- include ('partials/productoCARD.ejs') -%>
    
     </section>


     <!-- PARTE DE 1 2 3 BOOTNES -->
     <section class="botones-numeros">

      <button class="btn-num">1</button>
      <button class="btn-num">2</button>
      <button class="btn-num">2</button>

     </section>


     <script src="/joaki.js"></script>
     <%- include ('partials/footer.ejs') -%>
</body>
</html>
