<%- include ('partials/head.ejs') -%>

<section class="margin-all">
  <h2 class="category-hdos">¡Las mejores ofertas de hoy para ti!</h2>

  <div class="btns-categorias" id="categorias">
      <button class="btn-category selected" data-target="ropa">Ropa</button>
      <button class="btn-category" data-target="Libros">Libros</button>
      <button class="btn-category" data-target="Tecnologia">Tecnología</button>
      <button class="btn-category" data-target="Bolsos">Bolsos</button>
      <button class="btn-category" data-target="Zapatillas">Zapatillas</button>
      <button class="btn-category" data-target="Muebles">Muebles</button>
  </div>
</section>
<% ['ropa', 'Libros', 'Tecnologia', 'Bolsos', 'Zapatillas', 'Muebles'].forEach(category => { %>
  <div class="contenido" id="<%= category %>">
  
    <% const categoryProducts = products.filter(product => product.categoria === category); %>
    <% categoryProducts.forEach(product => { %>
      <!-- Toda la card -->
      <a href="/shop/producto/<%= product.id %>" class="enlace-sacar">
      <div class="B-todoCard">
        <!-- Fotos de la card -->
        <div class="B-CardFotos">
          <img src="<%= product.imagen %>" alt="" class="B-imagenCard">
          <div class="B-corazonDiv">
            <img src="/img/corazon.svg" alt="" class="B-corazon">
          </div>
        </div>

        <!-- Textos -->
        <div class="B-texto">
          <div class="B-namePrecio">
            <h4 class="B-name"><%= product.nombre %></h4>
            <h3 class="B-precio">$<%= product.precio %></h3>
          </div>
        </a>

        <%- include ('partials/starProducto.ejs') -%>
          </div>

          <form action="/carrito/agregar" method="post">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <button class="C-AddCart" onclick="agregarAlCarrito('<%= product._id %>')">Añadir al carrito</button>
          </form>
        </div>
      </div>

   
    <% }); %>
  </div>

  
<% }); %>



<script src="/joaki.js"></script>