<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>

<% productos.forEach(product => { %>

<section class="d-flex justify-content-between seccionBusqueda p-4">
    <div class="d-flex justify-content-between">
      <a href="/shop/producto/<%= product.id %>" class="enlace-sacar"><img src="<%= product.imagen %>" alt="" class="auri-img imgBusqueda">
      <div class="d-flex flex-column justify-content-center ps-3">
        <h4 class="align-items-center "><strong><%= product.nombre %></strong></h4></a>
        <p> <strong>Categoria:</strong> <%= product.categoria %></p>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div>
        <h4>$<%= product.precio %></h4>
        <p>Pagos sugeridos con financiación especial a 6 meses.</p>
      </div>
    <div>
      <form action="/carrito/agregar" method="post">
        <button class="comprar-btn" onclick="agregarAlCarrito('<%= product._id %>')">Comprar ahora</button>
        <input type="hidden" name="productId" value="<%= product._id %>">
        <button class="D-AddCart" onclick="agregarAlCarrito('<%= product._id %>')">Añadir al carrito</button>
      </form>
    </div>
  </div>


</section>


<% }); %>


</section>
<%- include ('partials/footer.ejs') -%>