<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="joaki.css">
    <link rel="stylesheet" href="jairo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <!-- Primer encabezado VERDE -->
    <div class="green-back">
    <div class="fondoVerde d-flex justify-content-between align-items-center text-align-center text-white px-5">
        <div>
            <a href="" class="nav-link active">+001234567890</a>
        </div>
        <div class="d-flex justify-content-evenly mt-2">
            <p class="topGreen pe-2">Obtené un 50% de descuento en artículos seleccionados</p>
            <a class="ps-2 text-white hoverEnlace" href="/shop" style="text-decoration: none;">Comprar ahora</a>
        </div>
        <div class="d-flex">
            <a href="" class="nav-link active dropdown-toggle ps-3">Ubicación</a>
        </div>
    </div>
</div>
    <!-- NAVBAR -->
    <nav class=" margin-all justify-content-between navbar px-5">
        
        <div class="navbar-brand">
            <a href=""><img src="Img/ShopCart.jpg" class="shopCart" alt=""></a>
        </div>

        <div class="d-flex">
            <a href="" class="nav-link active dropdown-toggle text-black px-2 hoverCategoria">Categorias</a>
            <a href="" class="nav-link px-2 hoverNav">Ofertas</a>
            <a href="" class="nav-link px-2 hoverNav">Novedades</a>
            <a href="" class="nav-link px-2 hoverNav">Entregas</a>    
        </div>
        <div class="d-flex"> 
            <form action="" role="search" >
            <input type="search" placeholder="Buscar producto" class="form-control "> 
            </form>
            <button class="border-0"><i class="bi bi-search bg-white"></i></button>
        </div>
        <div class="d-flex ">
            <a href="/signin" class="nav-link px-2 hoverEnlace"><i class="bi bi-person px-2 size"></i>Cuenta</a>
            <a href="" class="nav-link px-2 hoverEnlace"><i class="bi bi-cart-plus px-2 size"></i>Carrito</a>
        </div>
    </nav>

    <!-- HERO -->

    <section class="hero"> 
        <div class="d-flex flex-column justify-content-center text-align-center h-100 mb-5 ms-5">
            <div class="hero-texto">
                 <h1 class="colorVerde tamaño">Compras y grandes <br> almacenes</h1>
            <p class="colorVerde">Ir de compras es para mi un pasatiempo un tanto relajante, que a<br> veces supone un problema para mi cuenta bancaria.</p>
            <button class="heroBoton ">Aprenda más</button>
            </div>
           
        </div>
    </section>


    <!-- CATEGORIAS -->
    <%- include ('categorias.ejs') -%>
    <!-- CARD MEJORES OFERTAS -->
    <div class="margin-all">
        <h1 class="mejores-ofertas">¡Las mejores ofertas de hoy para ti!</h1>
        <div class="cards-margin">
            <%- include ('partials/card.ejs') -%>
            <%- include ('partials/card.ejs') -%>
            <%- include ('partials/card.ejs') -%>
        </div>
        
       </div>
    <!-- Choose-by-brand -->
    <%- include ('elijapormarca.ejs') -%>

    <!-- Descuentos -->
    <%- include ('descuentos.ejs') -%>

    <!-- productos populares -->
    <div class="margin-all">

    <h1 class="mejores-ofertas">Productos mas populares de la semana</h1>
    <div class="cards-margin">
        <%- include ('partials/card.ejs') -%>
        <%- include ('partials/card.ejs') -%>
        <%- include ('partials/card.ejs') -%>
    </div>
   </div>
    <!-- sillon descuento -->
    <%- include ('sillondescuento.ejs') -%>

    <!-- cards varias categorias -->
    <%- include ('category-cards.ejs') -%>

    <!-- tarjetas descuentos -->
    <%- include ('tarjetas-off.ejs') -%>

     <!-- productosmas -->
     <div class="margin-all">
    <h1 class="mejores-ofertas">Productos mas vendidos</h1>
    <div class="cards-margin">
        <%- include ('partials/card.ejs') -%>
        <%- include ('partials/card.ejs') -%>
        <%- include ('partials/card.ejs') -%>
    </div>
   </div>

    <!-- dos cards grandes -->
    <%- include ('dos-cards.ejs') -%>

    <%- include ('tarjetas-off.ejs') -%>
    <!-- Best Selling Store -->
    <%- include ('bestsellingstore') -%>

    <!--Services To Help You Shop -->
    <%- include ('servicestohelpyoushop') -%>
    <!-- FOOTER -->

    <%- include ('partials/footer.ejs') -%>


