<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>    
<!-- arranca todo -->

<!-- los slides -->

<%- include ('partials/slide.ejs') -%>

<!-- FILTROS -->
<div class="filtros">
<div>
  <div class="dropdown">
    <button class="filtro-btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Precio
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">$1 a $999</a></li>
      <li><a class="dropdown-item" href="#">$1000 a $9999</a></li>
      <li><a class="dropdown-item" href="#">+ $10.000</a></li>
    </ul>
  </div>
</div>

<div>
  <div class="dropdown">
    <button class="filtro-btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Color
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li class="dd-a"><a class="dropdown-item" href="#"><span class="text-blanco">Negro</span></a></li>
      <li ><a class="dropdown-item" href="#">Blanco</a></li>
      <li class="dd-b"><a class="dropdown-item" href="#">Marron</a></li>
      <li class="dd-c"><a class="dropdown-item" href="#">Rosa</a></li>
      <li class="dd-d"><a class="dropdown-item" href="#">Rojo</a></li>
      <li class="dd-e"><a class="dropdown-item" href="#">Naranja</a></li>
      <li class="dd-f"><a class="dropdown-item" href="#">Gris</a></li>
    </ul>
  </div>
</div>

<div>
  <div class="dropdown">
    <button class="filtro-btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Marca
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/shop/marca/Staples">Staples</a></li>
        <li><a class="dropdown-item" href="/shop/marca/Sprouts">Sprouts</a></li>
        <li><a class="dropdown-item" href="/shop/marca/ContainerStore">Container Store</a></li>
        <li><a class="dropdown-item" href="/shop/marca/Target">Target</a></li>
        <li><a class="dropdown-item" href="/shop/marca/SportsBasement">Sports Basement</a></li>
        <li><a class="dropdown-item" href="/shop/marca/Bevmo!">Bevmo!</a></li>
        <li><a class="dropdown-item" href="/shop/marca/MollieStones">Mollie Stones</a></li>
        <li><a class="dropdown-item" href="/shop/marca/GroceryOutlet">Grocery Outlet</a></li>
    </ul>
  </div>
</div>

<div class="ordenar-por">

</div>
<div class="dropdown">
  <button class="orden-btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
 Ordenar por
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Menor precio</a></li>
    <li><a class="dropdown-item" href="#">Mayor precio</a></li>
  </ul>
</div>
</div>





               <!-- CARDS -->
               <h2 class="margin-all mt-5">Productos para ti</h2>

    <section class="B-cards" id="cards">

    
    <!-- toda la card -->
    <% products.forEach(product => { %>
      <div class="B-todoCard">
        <div class="B-CardFotos">
          <img src="<%= product.imagen %>" alt="" class="B-imagenCard">
          <div class="B-corazonDiv">
            <img src="/img/corazon.svg" alt="" class="B-corazon">
          </div>
        </div>
        <div class="B-texto">
          <div class="B-namePrecio">
            <h4 class="B-name"><%= product.nombre %></h4>
            <h3 class="B-precio"> $<%= product.precio %></h3>
          </div>
          
          <div class="B-stars">
            <div>
              <img src="img/star.svg" alt="" class="B-estrellasIMG">
              <img src="img/star.svg" alt="" class="B-estrellasIMG">
              <img src="img/star.svg" alt="" class="B-estrellasIMG">
              <img src="img/star.svg" alt="" class="B-estrellasIMG">
              <img src="img/star.svg" alt="" class="B-estrellasIMG">
            </div>
            <div>
              <p class="B-numeroStar">(121)</p>
            </div>
          </div>
          <button class="B-AddCart">Añadir al carrito</button>
        </div>
      </div>
    <% }); %>
    
     </section>


     <!-- PARTE DE 1 2 3 BOOTNES -->
     <section class="botones-numeros">

      <button class="btn-num">1</button>
      <button class="btn-num">2</button>
      <button class="btn-num">2</button>

     </section>


     <script src="/public/joaki.js"></script>
     <%- include ('partials/footer.ejs') -%>
</body>
</html>
