<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>

<div class="text-center align-items-center p-5">
  <h2>No se encontraron productos para la búsqueda : <%= busqueda %></h2>
</div>

<div class="margin-all pb-5">
  <h1 class="mejores-ofertas">¡Las mejores ofertas de hoy para ti!</h1>
 
      <%- include ('partials/card-carrusel.ejs') -%>

 </div>


<%- include ('partials/footer.ejs') -%>