
<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>

<div class="produ-linea">

</div>
<section class="producto">
<div class="imagen-producto">

<div class="produ-categorias">
  <p>Categoria</p>
  <p>/</p>
  <p><%= product.categoria %></p>
  <p>/</p>
  <p><%= product.nombre %></p>
</div>
<div class="produ-img">
  <img src="<%= product.imagen %>" alt="" class="imagen-produu">
</div>


</div>
                                            <!-- parte derechaaa -->
<div class="producto-des">


<div class="produ-nombre">
<h1><%= product.nombre %></h1>
<p class="p-des"><%= product.descripcion %></p>

<%- include ('partials/starProducto.ejs') -%>
<div class="lineas-prod"></div>
</div>

<div class="produ-precio">
<h3>$<%= product.precio %></h3>
<p>Pagos sugeridos con financiación especial a 6 meses.</p>
<div class="lineas-prod"></div>
</div>
<!-- circulosssssss -->
<% if (productosCategoria.length > 1) { %>
  <div class="produ-colores">
    <h4>Elije el color</h4>
    <div class="prod-colores">
      <% for (const productoCategoria of productosCategoria) { %>
        <% if (productoCategoria._id.toString() !== product._id.toString()) { %>
          <a href="/shop/producto/<%= productoCategoria._id %>">
            <img src="<%= productoCategoria.imagen %>" alt="" class="bola"<%= productoCategoria.color %>>
          </a>
        <% } %>
      <% } %>
      <div class="lineas-prod"></div>
    </div>
  </div>
<% } %>





<div class="produ-comprar">
<div class="prod-add">
  <div class="agregar-prod">
    <button data-action="restar" data-id="<%= product._id %>" onclick="cambiarCantidad('<%= product._id %>', 'restar', 1)">-</button>
    <p id="cantidad-<%= product._id %>">
      <% const cartItem = usuario.cart.items.find(item => item.productId.toString() === product._id.toString()); %>
      <%= cartItem ? cartItem.cantidad : 1 %>
    </p>
    <button data-action="sumar" data-id="<%= product._id %>" onclick="cambiarCantidad('<%= product._id %>', 'sumar', 1)">+</button>
    
  </div>
    
<div class="left-items">
  <p>Solo quedan <span class="texto-naranja">12 articulos</span> <br> No te lo pierdas</p>
</div>
</div>

<div class="btn-productos">
<form action="/carrito/agregar" method="post">
  <button class="comprar-btn" onclick="agregarAlCarrito('<%= product._id %>')">Comprar ahora</button>
  <input type="hidden" name="productId" value="<%= product._id %>">
  <button class="D-AddCart" onclick="agregarAlCarrito('<%= product._id %>')">Añadir al carrito</button>
</form>
</div>

</div>

<!-- delivery -->
<div class="delivery-all">


<div class="produ-delivery">

<div class="free-envio">


<div class="camion-env">
<div>
<img src="/img/camion.svg" alt="" class="truck-img">
</div>
<div>
<p class="envio-f">Envío gratis</p>
</div>
</div>
<p class="codigo-postal">Ingrese su código postal para disponibilidad de entrega</p>
</div>

</div>
<div class="lineas-prod"></div>
<div class="devolver-prod">

<div class="caja-env">
  <div>
      <img src="/img/paquete.svg" alt="" class="pack-img">
  </div>
  <div>
      <p class="devolucion">Devolución</p>
  </div>
  </div>
  <p class="dev-texto">Devoluciones con entrega gratuita en 30 días. <span class="detalles"> Detalles</span></p>
</div>
</div>
</div>

</div>


</section>

<%- include ('partials/footer.ejs') -%>