<%- include ('partials/head.ejs') -%>
<%- include ('partials/header.ejs') -%>
<!-- arranca todo -->

<!-- los slides -->

<%- include ('partials/slide.ejs') -%>


<!-- FILTROS -->

<%- include ('partials/filtros.ejs') -%>



               <!-- CARDS -->
               <h2 class="margin-all mt-5">Productos para ti</h2>

    <section class="B-cards" id="cards">

    
    <!-- toda la card -->
    <% products.forEach(product => { %>
      <div class="B-todoCard">
        <div class="B-CardFotos">
          <img src="<%= product.imagen %>" alt="" class="B-imagenCard">
          <div class="B-corazonDiv">
            <img src="/img/corazon.svg" alt="" class="B-corazon">
          </div>
        </div>
        <div class="B-texto">
          <div class="B-namePrecio">
            <h4 class="B-name"><%= product.nombre %></h4>
            <h3 class="B-precio"> $<%= product.precio %></h3>
          </div>
          
          <div class="B-stars">
            <div>
              <img src="/img/star.svg" alt="" class="B-estrellasIMG">
              <img src="/img/star.svg" alt="" class="B-estrellasIMG">
              <img src="/img/star.svg" alt="" class="B-estrellasIMG">
              <img src="/img/star.svg" alt="" class="B-estrellasIMG">
              <img src="/img/star.svg" alt="" class="B-estrellasIMG">
            </div>
            <div>
              <p class="B-numeroStar">(121)</p>
            </div>
          </div>
            <form action="/carrito/agregar" method="post">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <button class="B-AddCart" onclick="agregarAlCarrito('<%= product._id %>')">Añadir al carrito</button>
          </form>
        </div>
      </div>
    <% }); %>
    
     </section>


     <!-- PARTE DE 1 2 3 BOOTNES -->
     <section class="botones-numeros">

      <button class="btn-num">1</button>
      <button class="btn-num">2</button>
      <button class="btn-num">2</button>

     </section>

     <section class="produ-semanales-shop">
        <h2>Productos populares de la semana</h2>
        <div class="cards-margin">
            <%- include ('partials/card.ejs') -%>
            <%- include ('partials/card.ejs') -%>
            <%- include ('partials/card.ejs') -%>
        </div>

     </section>

     <script src="/joaki.js"></script>
     <%- include ('partials/footer.ejs') -%>

</body>
</html>
